html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  overflow-x: hidden;
  display: flex; /* Включаем Flexbox */
  flex-direction: column; /* Контент располагается вертикально */
  justify-content: flex-start; /* Центрируем горизонтально */
  min-height: 100vh; /* Занимаем всю высоту экрана */
  align-items: center;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

@media (max-width: 1585px) {
  .Trevland {
    margin-right: 100px;
  }
  .menu button {
    margin-left: 100px;
  }
}

@media (max-width: 1440px) {
  .footer .container {
    margin: 0 auto;
    padding: 42px 100px;
  }
}

@media (max-width: 1422px) {
  .menu button {
    margin-left: 50px;
    padding: 14px 34px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(201, 69, 59, 1);
    color: rgba(255, 255, 255, 1);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    border: none;
  }
}

@media (max-width: 1300px) {
  .menu {
    display: none;
  }
  .main-text h1 {
    color: rgba(255, 255, 255, 1);
    font-family: Gelasio;
    font-size: 65px;
    font-weight: 700;
    line-height: 83px;
    margin-top: 208px;
    margin-left: 0;
  }
  .nav__menu.active .menu {
    left: 0;
  }
  .burger_btn {
    display: flex;
  }
  .container {
    margin: 0 auto;
    padding: 42px 320px;
  }
  .nav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .Popular-Location-img {
    display: flex;
    flex-direction: column;
  }
  .Popular-Location-img-text {
    margin-bottom: 20px;
  }
  .Popular-Location-img-text p {
    line-height: 25px;
  }
}

@media (max-width: 1292px) {
.footer-info2 {
  padding-left: 100px;
  width: 158px;
  padding-right: 100px;
}
.footer-trevland {
  margin-right: 80px;
}
.footer-trevland img {
 padding-right: 10px;
}
}

@media (max-width: 1140px) {
  .From-Blog-and-News-img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer .container {
    margin: 0 auto;
    padding: 42px 80px;
  }
  .From-Blog-and-News-main-img {
    text-align: center;
    margin-bottom: 30px;
  }
  .From-Blog-and-News-main-img p {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media (max-width: 1024px) and (max-width: 1200px) {
  .container {
    margin: 0 auto;
    padding: 42px 185px;
  }
  .footer .container {
    margin: 0 auto;
    padding: 42px 20px;
  }
}
@media (max-width: 970px) {
  .all-info {
    flex-direction: column; /* Элементы располагаются в столбик */
    align-items: center; /* Центрирование элементов */
  }

  .footer-trevland,
  .footer-info1,
  .footer-info2,
  .form {
    padding: 0;
    margin: 0 25px 0 25px;
    padding-bottom: 30px;
    text-align: center; /* Центрирование текста */
  }
}

@media (max-width: 768px) {
  .container {
    margin: 0 auto;
    padding: 42px 160px;
  }
  .From-Blog-and-News {
    padding: 0 10px;
  }
  .main .container {
    margin: 0 auto;
    margin-bottom: 140px;
  }
  .Popular-Location p {
    color: rgba(0, 0, 0, 1);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    opacity: 0.6;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 0 20px;
  }
  .main-text {
    max-width: 460px;
    margin: 0 auto;
  }
  .nav__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .main-text h1 {
    color: rgba(255, 255, 255, 1);
    font-family: Gelasio;
    font-size: 35px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 150px;
    padding: 0 10px;
  }
  .header-text p {
    padding-right: 50px;
    padding-left: 50px;
  }
  .header-text {
    margin: 0 auto;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .container {
    margin: 0 auto;
    padding: 42px 100px;
  }
}
@media (max-width: 570px) {
  .Hiroshima {
    text-align: center;
    flex-direction: column;
  }
  .Hiroshima img {
    margin-bottom: 20px;
  }
  .Hiroshima-text h3 {
    display: block;
    text-align: center;
  }
  .Hiroshima3 {
    flex-direction: column;
    text-align: center;
  }
  .Hiroshima3 img {
    margin-bottom: 20px;
  }
}
@media (max-width: 500px) {
  .container {
    margin: 0 auto;
    padding: 42px 10px;
  }
}
@media (max-width: 320px) {
  .nav__menu.active .menu {
    left: 20px;
  }
}
