@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

.header {
  backdrop-filter: blur(20px);
  background: rgba(50, 50, 50, 0.7);
  padding: 20px 0;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}
.logo {
  font-weight: 800;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__nav {
  display: flex;
  gap: 60px;
}

.header__link {
  font-weight: 700;
  font-size: 18px;
}
.main {
}

.welcome {
  margin-top: 160px;
}

.welcome .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.welcome__desc {
}

.welcome__title {
  margin-top: 0;
  width: 505px;
  font-size: 54px;
  font-weight: 700;
  line-height: 1.19;
  color: rgba(222, 222, 222, 1);
  margin-bottom: 24px;
}

.welcome__text {
  width: 400px;
  margin-bottom: 88px;
}

.btn {
  display: inline-flex;
  color: rgba(255, 255, 255, 1);
  align-items: center;
  font-size: 18px;
  padding: 16px 48px 16px 48px;
  border-radius: 4px;
  background: rgba(157, 157, 157, 1);
  gap: 10px;
}
.btn::before {
  content: "";
  width: 21px;
  height: 21px;
  background-image: url("images/mail.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.welcome__btn {
}

.welcome__img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  margin-right: 90px;
}
